.contact-footer{

  background-color: #000;

  &__content{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 60px 0 40px 0;
    text-align: center;

    p{
      margin: 10px 0 40px;
      padding: 0 20px;

      @include media-sm-max{
        br{
          display: none;
        }
      }
    }
  }


  button{
    margin: 10px auto 0;
    display: block;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: $secondary-color;
    border: transparent;
    color: $primary-color;

    &:hover{
      background-color: $primary-color;
      @include transition-ease;

      a{
        color: $black;
      }
    }

    i{
      padding-right: 10px;
    }
  }

}