*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: $black;
  height: 100vh;
}

// HEADER
// -----------------
header{
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;

  .logo{
    width: 100%;
    max-width: 70px;
    cursor: pointer;
    z-index: 11111111;
    position: relative;

    img{
      width: 100%;
    }

    a{
      display: block;
    }
  }
}

header.fixed-header{
  background-color: black;
  opacity: .8;
  padding-bottom: 0;
}


// BODY
// -----------------
main{

  .social-icons{
    position: fixed;
    bottom: 1rem;
    left: 1rem;

    @include media-sm-max{

      .fa-2x{
        font-size: 1.5rem;
      }
  
    }

    a{
      padding: 0.4rem;

      @include media-sm-max{

        padding: 0.2rem;
    
      }

      &:hover{
        color: $secondary-color;
        @include transition-ease;
      }
    }
  }
}
